.contact {
    padding-top: 75.5px;
    height: 100%;
}

.upperFrame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 6720 / 4480;
    height: 256px;

    z-index: 2;
    overflow: hidden;
}

.backgroundImage {
    object-fit: cover;
    z-index: 0;
}

.heading {
    z-index: 1;
    position: relative;
}

.lowerFrame {
    height: 256px;
    background-color: var(--primary-100);
    z-index: -2;
}

.flexContainer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    z-index: 2;
    gap: 96px;
    padding-inline: clamp(1.5rem, 2vw + 1.1rem, 2rem);
}

.textFrame {
    padding-top: 16px;
    text-align: center;
}

@media (max-width: 768px) {
    .contact {
        padding-top: 0px;
    }

    .flexContainer {
        flex-direction: column;
        position: static;
        margin-top: 0px;
        gap: 8px;
    }

    .lowerFrame {
        height: fit-content;
        padding: 8px;
    }
}
