.faqSection{
    border: 0.5px solid grey;
    padding: 12px;
    background-color: var(--primary-800);
}

.title{
    text-align: center;
    color: white;
}

.faqFrame{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

@media (max-width: 768px){
    .faqFrame{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}