.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;

    /* background-color: hsla(210, 32%, 75%,0.75); */
    background-color: rgba(255,255,255,0.95);
    z-index: 3;

}

.nonLogo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: 100%;
}