.CTA{
    display: flex;
    justify-content: center;

    font-size: var(--h5-size);
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    height:fit-content;
    padding-inline: 12px;
    /* width: min(540px, 100%); */

    color: white;
    background-color: black;
    border: 0;
}

.CTA:hover{
    background-color: var(--primary-900);
}