.Hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../public/images/Hero-img-bg.jpg");
    background-size: cover;
    height: 950px;

    padding: 16px 32px 16px 32px;
    gap: 32px;
}

.LeftFrame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.UpperLeftFrame{
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 50%;
    /* height: 500px; */
}
.Headers{
    display: flex;
    flex-direction: column;
    gap: 16px;
}