.Link{
    height: min-content;
    /* margin-top: 0 !important; */
    /* background-color: red; */
}


.LinkText{
    /* height: min-content; */
    margin-top: 0 !important;
    /* background-color: blue; */
    overflow: wrap;
}
