.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
    /* align-items: center; */


    padding-inline: 8px;
}

.nonLogo{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: 100%;
}