.OuterFrame{
    display: flex;
    height: fit-content;
}

.NumberFrame{
    background-color: hsla(0,0%,0%,0.3);
    border-radius: 12px 0px 0px 12px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
}

.TextFrame{
    background-color: hsla(0,0%,0%,0.2);
    border-radius: 0px 8px 8px 0px;

    /* text-align: center; */
    padding-inline: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}