.designerImage{
    object-fit: contain;
    height: auto;
    /* width: auto; */
}


.imageWrapper {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1 / 1;
}


@media (max-width: 768px){
    .imageWrapper{
        top: -30px;
    }
}