.Footer{
    padding-top: 64px;
    padding-bottom: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    background-color: white;
}

.Footer a{
    text-decoration: none;
    cursor: pointer;
}