.cta{
    display: flex;
    justify-content: center;

    font-size: var(--h5-size);
    border-radius: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 12px;

    color: white;
    background-color: var(--primary-600);
    border: 0;
    width: fit-content;

    text-decoration: none;
    cursor: pointer;
}

.cta:hover{
    background-color: var(--primary-500);
}

.test{
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}