.ctaSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("../../public/images/website-designing-img-tinted.png");
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 5837/ 2000;
}

.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.ctaFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ctaSection > *{
    text-align: center;
    padding: 8px;
}