.problemFrame{
    padding-inline: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subText{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.subHeading{
    padding-inline: min(192px, calc(38.4vw - 115.2px));
    /*css doesn't support nested calc so it's the same as min(192px,calc(38.4*(100vw-300px)))
    we want the padding to be 0 from 0px-300px window-width, then rise to 192px between 300px-800px
    the graph then goes through (300,0) and (800,192) so the gradient is 192/(800-300) = 0.384 
    we achieve the region of the graph that is 0 by translating the graph by the vector (300,0) which means padding = 0.384(x-300px)
    where 100vw = x, padding = 0.384(100vw-300px). This expands to 38.4vw - 115.2px 
    so finally, padding-inline: min(192px, calc(38.4 * 1vw - 115.2px)); 
    */
    
}

.header{
    text-align: center;
}

.bulletPoints > li{
    font-size: var(--h4-size);
    font-weight: 500;
}

.emphasisedText{
    color: var(--primary-300);
    font-weight: 700;
}