.problemFrame{
    padding-inline: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subText{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
}

.bulletPoints > li{
    font-size: var(--h5-size);
    font-weight: 300;
}