.problemFrame{
    padding-inline: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 64px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subText{
    display: flex;
    flex-direction: column;
    gap: 48px;
    /* justify-content: center; */
    /* align-items: center; */
}

.subHeading{
    padding-inline: 192px;
}

.header{
    text-align: center;
}

.bulletPoints > li{
    font-size: var(--h4-size);
    font-weight: 500;
}

.emphasisedText{
    color: var(--primary-300);
    font-weight: 700;
}