.services{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}


.headers{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.iconsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.icon{
    fill: brown;
}