.services{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}


.headers{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.iconsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    align-items: stretch;
}

@media (max-width: 768px){
    .iconsDiv{
        grid-template-columns: 1fr 1fr;
    }

    .iconsDiv >:nth-child(3){
    grid-column: 1 / -1; /* Span both columns */
    display: flex;
    justify-content: center;
    }
}