@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


/* RESET BEGIN */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
* {
  margin: 0;
}
/* RESET END */

:root{
  --base-font-size: clamp(0.75rem, 1vw + 0.5rem, 1rem);

  /* This needs to be unitless as it is a constant, however CSS does not support scaling with vw
  while being unitless, only SCSS does so instead breakpoints are used */
  --font-scale: 1.25; 

  --p-size: var(--base-font-size);
  --small-size: calc(var(--p-size) / var(--font-scale));
  --h6-size: calc(var(--p-size) * var(--font-scale));
  --h5-size: calc(var(--h6-size) * var(--font-scale));
  --h4-size: calc(var(--h5-size) * var(--font-scale));
  --h3-size: calc(var(--h4-size) * var(--font-scale));
  --h2-size: calc(var(--h3-size) * var(--font-scale));
  --h1-size: calc(var(--h2-size) * var(--font-scale));

  font-family: 'Manrope', 'Trebuchet MS';

  --primary-100: hsl(210, 32%, 75%);
  --primary-200: hsl(210, 27%, 55%);
  --primary-300: hsl(210, 43%, 38%);
  --primary-400: hsl(210, 64%, 23%);
  --primary-500: hsl(211, 74%, 15%);
  --primary-600: hsl(210, 83%, 10%);
  --primary-700: hsl(210, 92%, 7%);
  --primary-800: hsl(210, 96%, 4%);
  --primary-900: hsl(210, 98%, 2%);
  
  /* purely informative, browsers dont support vars in media quieries */
  --mobile-breakpoint: 768px; 
}

@media (max-width: 768px){
  /* we want the base size to be 0.75rem  (any smaller is hard to read) 
  and we also want the h1 to be reasonably close to 36px/2.25rem, 
  so we use base 0.75rem and 1.2 as the ratio */
  :root{
    --font-scale: 1.2;
  }
}


h1 {
  font-size: var(--h1-size);
  line-height: 1.1;
  letter-spacing: -1.5px;
}

h2 {
  font-size: var(--h2-size);
  line-height: 1.15;
  letter-spacing: -1px;
}

h3 {
  font-size: var(--h3-size);
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h4 {
  font-size: var(--h4-size);
  line-height: 1.25;
  letter-spacing: -0.25px;
}

h5 {
  font-size: var(--h5-size);
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: -0.1px;
}

h6 {
  font-size: var(--h6-size);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
}

p {
  font-size: var(--p-size);
  line-height: 1.5;
  letter-spacing: 0.1px;
}

small {
  font-size: var(--small-size);
  line-height: 1.4;
  letter-spacing: 0.2px;
}

.emphasisedText{
    color: var(--primary-700);
    font-weight: 800;
}